* {
    background: white;
    border: 1px black solid;
   
    
}
.container-header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px;
   
    
}
    
.link-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}
.Introduction {
    display: flex;
}
.box-intro-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-hero-1 {
    display: flex;
    flex-direction: column;
    padding: 50px;
   
}
.box {
    height: 120px;
    width: 120px;
}
.boxes-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boxes {
    display: flex;
    justify-content: space-between;
}
.title-box {
    display: flex;
    justify-content: center;
}
.text {
    width :120px;
}
.container-hero-2 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}
.author-box {
    display: flex;
    justify-content: flex-end;
}
.contai-all-hero-3 {
    padding: 100px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.container-hero-3 {
    display: flex;
    gap: 50px;
    box-sizing: border-box;  
    padding: 60px; 
}
.box-hero-3-left {
    flex-grow: 1;
}
.footer {
    display: flex;
    padding: 40px;
    justify-content: center;
}
